.be-select,.salary-be{
    width: 300px!important;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.ml-4{
    margin-left: 1rem;
}
.mr-4{
    margin-right: 1rem;
}
.mt-4{
    margin-top: 1rem;
}
.mb-4{
    margin-bottom: 1rem;
}
.bg-white{
    background-color: white;
}
.w-32{
    width: 150px;
}
.p-4{
    padding: 1rem;
}
.mt-2{
    margin-top: 0.5rem;
}
.mb-2{
    margin-bottom: 0.5rem;
}